@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  --tw-bg-opacity: 1;
  background: rgb(255, 255, 255);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'MonumentExtended';
    src: url(/static/fonts/monument_extended/PPMonumentExtended-Regular.otf) format(woff)
  }
  @font-face {
    font-family: 'MonumentExtended';
    font-weight: 800; 
    src: url(/static/fonts/monument_extended/PPMonumentExtended-Black.otf) format(woff)
  }
}